.movie {
  text-align: center;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid orange;
  color: #ffffff;
  border-radius: 5px;

  &__poster{
    width: auto;
    max-height: 30rem;
  }
  h3 {
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
    
  }
  
  h4 {
    font-size: 1.5rem;
    font-weight: normal;
  }
}
